{% extends 'Admins/index.html' %}
{% block head %}View All Owners and Bus List{% endblock %}
{% block body %}
<table class="table table-bordered">
  <tr>
      <th><div align="center">Sl</div></th>
      <th><div align="center">Name</div></th>
      <th><div align="center">List of Buses</div></th>
  </tr>{%for i in data%}
    <tr>
        <td align="center">{{forloop.counter}}</td>
        <td align="center">{{i.name}}</td>
        <td align="center"><a href="/admin_view_bus/{{ i.id }}">Click here</a></td>
    </tr>
    {%endfor%}

</table>
{% endblock %}